.mastheadd {
  margin-top: 150px;
  height: 200vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../assets/background-desktop/background_1920x2160.jpg");
}
