<section id="project">
  <div class="h-75 bloc-title">
    <h1 class="d-flex justify-content-center pt-4 pb-4">PROJETS</h1>
  </div>
  <div class="container-fluid">
    <div class="bloc-project h-100">
      <div class="container">
        <div class="row pt-3">
          <div class="col-md-6 col-12">
            <img
              src="../../../assets/projet/eli-min.png"
              alt=""
              width="500px"
              class="img-fluid"
            />
          </div>
          <div class="col-md-6 col-12">
            <img
              src="../../../assets/projet/krokmou stitch-min.png"
              alt=""
              width="550px"
              class="img-fluid"
            />
          </div>
        </div>
        <div class="row mt-4 pb-5">
          <div class="col-md-6 col-12">
            <img
              src="../../../assets/projet/logo ytb timmy-min.jpg"
              alt=""
              width="550px"
              class="img-fluid"
            />
          </div>
          <div class="col-md-6 col-12">
            <img
              src="../../../assets/projet/reyna (3)-min.png"
              alt=""
              width="500px"
              class="img-fluid"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
