<section id="career">
  <h1 class="text-center">PARCOURS</h1>

  <div class="bloc-project h-100">
    <div class="d-flex flex-column">
      <div class="p-2">
        <div class="d-flex flex-row">
          <div class="p-2 date">
            <p>2019-2020</p>
          </div>
          <div class="p-2 description text-left">
            <h2>LICENCE DROIT, PARCOURS GÉNÉRAL</h2>
            <h3>Droit-Économie-Gestion</h3>
            <p>Université Paris-Est-Créteil, 94000 Créteil</p>
          </div>
        </div>
      </div>
      <div class="p-2">
        <div class="d-flex flex-row">
          <div class="p-2 date">
            <p>2017-2019</p>
          </div>
          <div class="p-2 description text-left">
            <h2>BACCALAURÉAT SCIENTIFIQUE</h2>
            <h3>Mention Assez Bien, Spécialité SVT</h3>
            <p>Lycée Emily Brontë, 77185 Lognes</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
