<section id="contacts">
  <div class="bloc-project h-100">
    <h1 class="text-center">CONTACT</h1>
    <div class="d-flex flex-column">
      <div class="d-flex flex-row bd-highlight mb-3 justify-content-center">
        <a href="mailto:thanglaura@gmail.com">
          <div class="p-4 bd-highlight">
            <img
              src="../../../assets/icon/at-sign.png"
              alt="mail"
              width="50px"
            />
          </div>
        </a>

        <div class="p-4 bd-highlight">
          <a href="https://www.instagram.com/kyuhnie_art/?hl=en">
            <img
              src="../../../assets/icon/instagram.png"
              alt="insta"
              width="50px"
            />
          </a>
        </div>
        <div class="p-4 bd-highlight">
          <a href="mailto:thanglaura@gmail.com">
            <img
              src="../../../assets/icon/linkedin.png"
              alt="linkedin"
              width="50px"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="image-back">
    <img
      src="../../../assets/background-desktop/banniere_contact.jpg"
      alt="fond"
      width="850px"
    />
  </div>
</section>
